{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<section class="home">

    <div class="home-cards">

        <article class="home-card">
            <span>Mes<br>Projets</span>
            <span class="home-card-icon">🧩</span>
        </article>

        <article class="home-card">
            <span>Outils<br>utilisés</span>
            <span class="home-card-icon">🧰</span>
        </article>

        <article class="home-card">
            <span>Mon CV</span>
            <span class="home-card-icon">📄</span>
        </article>

        <article class="home-card">
            <span>
                Mentions légales<br>
                RGPD<br>
                Contact
            </span>

            <span class="home-card-icon">⚖️</span>
        </article>

    </div>

</section>

{% endblock %}