:root {

    /* ===========================
       COULEURS
    =========================== */

    --color-black: #000;
    --color-dark: #111;
    --color-white: #fff;

    --color-blue: #0087d8;
    --color-blue-light: #00bfff;
    --color-cyan: #00d4ff;

    --color-home-top: #82e6ef;
    --color-home-bottom: #178286;
    --color-home-border: #1597c8;

    --color-grey: #777;
    --color-yellow: #ffd400;

    /* ===========================
       DIMENSIONS
    =========================== */

    --header-height: 110px;
    --footer-height: 40px;

    --logo-height: 90px;
    --github-size: 52px;

    --github-footer-size: 30px;

    /* ===========================
       RAYONS
    =========================== */

    --radius-small: 15px;

    /* ===========================
       OMBRES
    =========================== */

    --shadow-card: 6px 7px 0 rgba(0, 0, 0, .25);

    /* ===========================
       TRANSITIONS
    =========================== */

    --transition-fast: .25s;
    /* ===========================
        TYPOGRAPHIE
    =========================== */

        --font-primary: Arial, sans-serif;
        --font-code: monospace;
        /* ===========================
         HOME
         =========================== */

         --color-home-border-hover: #53d8ff;
         /* ===========================
            PROJETS
         =========================== */

         --color-project-overlay: rgba(130, 230, 239, 0.12);
         --color-project-top: #9ceef5;
         --color-project-middle: #6fd7e4;
         --color-project-bottom: #1b7f92;

         --color-project-bg: rgba(255, 255, 255, 0.38);
         --color-project-bg-open: rgba(255, 255, 255, 0.52);
         --color-project-hover: rgba(255, 255, 255, 0.2);

         --color-project-separator: rgba(21, 151, 200, 0.35);

         --color-project-tech-bg: rgba(255, 255, 255, 0.42);
         --color-project-tech-bg-hover: rgba(255, 255, 255, 0.7);
         --color-project-tech-border: rgba(21, 151, 200, 0.45);

         --color-project-status: rgba(0, 212, 255, 0.25);
         --color-project-status-progress: rgba(255, 212, 0, 0.35);

        }