<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Portfolio{% endblock %}</title>

    {% block stylesheets %}
        {{ importmap('app') }}
    {% endblock %}
</head>

<body>
    {% include 'components/_navbar.html.twig' %}

    <main>
        {% block body %}{% endblock %}
    </main>

    {% include 'components/_footer.html.twig' %}

    {% block javascripts %}{% endblock %}
</body>
</html>