<footer class="site-footer">

    <div class="footer-copyright">
        &copy; 2026 Jean-François
    </div>

    <nav class="footer-links">
        <a href="{{ path('app_legal_mentions') }}">Mentions légales</a>

        <span>|</span>

        <a href="{{ path('app_rgpd') }}">RGPD</a>
    </nav>

   <div class="footer-social">
    <a
        href="https://www.linkedin.com/in/jean-francois-ledeunf-875729233/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Profil LinkedIn de Jean-François Delhomme"
    >
        <img
            src="{{ asset('images/icones/linkedin.svg') }}"
            alt="LinkedIn"
        >
    </a>
</div>

</footer>